@font-face {
    font-family: 'Enge Etienne';
    src: url('../font/enge-etienne/OPTIEngeEtienne.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Resetting some basic styles */
body, h1, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Enge Etienne', serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    letter-spacing: 2px; /* Add spacing across the entire body */
}

.landing-page {
    position: relative;
    width: 100%;
    height: 100%;
}

.background-overlay {
    background: url('../images/pic1.jpg') no-repeat center center/cover;
    filter: brightness(50%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.name-title {
    font-family: 'Enge Etienne', serif;
    font-size: 64px;
    color: #fff;
    font-weight: normal; /* Try 'lighter' or '300' if available */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    letter-spacing: 1px;
}


.pointer {
    width: 40px;
    height: 40px;
    background-image: url('../images/final_fantasy_glove_pointer_for_samsung_devices_by_maxberriostorres_def1c48-fullview.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 3;
    transition: top 0.2s ease;
}

.menu-options {
    position: absolute;
    top: 500%;
    right: 25%;
    text-align: left;
}

.menu-item {
    font-family: 'Enge Etienne', serif;
    font-size: 24px;
    color: #ccc;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    margin: 10px 0;
    cursor: pointer;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    letter-spacing: 5px; /* Add extra spacing to menu items */
}

.menu-item.active,
.menu-item:hover {
    color: #fff;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.8);
}
